.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
    background: #9654FF !important;
    color: #fff !important;
}

.ic-Login-header__links .ic-Login__link:first-of-type {
    color: #fff !important;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-icon-svg {
    fill: #fff !important;
}

body.primary-nav-expanded .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .menu-item__text {
    color: #fff !important;
}

.ic-app-header__menu-list-link:hover,
.ic-app-header__menu-list-link:focus {
    background-color: #fff !important;
}